.Counter {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  color: var(--color-background);
  cursor: pointer;
  transition: background-color 0.25s;
}

.Counter:hover {
  background-color: var(--color-primary-light);
}

.Counter:focus,
.Counter:focus-visible {
  outline: 4px auto var(--color-secondary);
}

.dark .Counter {
  color: var(--color-foreground);
}
