@import "tailwindcss";
@import "frankenstyle/css/frankenstyle-kit-standalone.css";
@import "frankenstyle/css/frankenstyle.css";
@import "frankenstyle/css/chart.css";

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}