---
import Layout from "../layouts/Layout.astro";
import { PhotoGallery } from "../components/PhotoGallery";
---

<Layout title="Photo Canvas">
  <PhotoGallery client:only autoPlayDelayMs={7777}>
      <div slot="fallback">Loading...</div>
  </PhotoGallery>
</Layout>
