:root {

  /* color system */
  --color-primary-light: var(--color-purple-200); /* light shade for primary */
  --color-primary: var(--color-purple-300); /* using color variant for primary */
  --color-primary-dark: var(--color-purple-400); /* dark shade for primary */

  --color-secondary-light: var(--color-yellow-100); /* light shade for secondary */
  --color-secondary: var(--color-yellow-200); /* using color variant for secondary */
  --color-secondary-dark: var(--color-yellow-300); /* dark shade for secondary */

  --color-background-light: var(--color-mono-blue-50); /* light shade for background */
  --color-background: var(--color-mono-blue-200); /* using mono for background */
  --color-background-dark: var(--color-mono-blue-300); /* dark shade for background */

  --color-foreground-light: var(--color-mono-blue-700); /* light shade for foreground */
  --color-foreground: var(--color-mono-blue-900); /* using mono for foreground */
  --color-foreground-dark: var(--color-mono-blue-900); /* dark shade for foreground */
}

.dark {
  --color-primary-light: var(--color-purple-200);
  --color-primary: var(--color-purple-300);
  --color-primary-dark: var(--color-purple-200);

  --color-secondary-light: var(--color-yellow-300);
  --color-secondary: var(--color-yellow-200);
  --color-secondary-dark: var(--color-yellow-100);

  --color-background-light: var(--color-mono-blue-950);
  --color-background: var(--color-mono-blue-900);
  --color-background-dark: var(--color-mono-blue-800);

  --color-foreground-light: var(--color-mono-blue-50);
  --color-foreground: var(--color-mono-blue-100);
  --color-foreground-dark: var(--color-mono-blue-200);
}
