---
import { BootProcess } from "../components/BootProcess.js";
---

<!doctype html>
<html class="dark" lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/webp" href="/favicon.webp" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="keywords"
			content="Astro, TypeScript, defuss, web development, modern web, frontend"
		/>
		<meta
			name="description"
			content="A defuss tech demo, featuring a classic desktop environment."
		/>
		<title>{Astro.props.title}</title>
	</head>

	<body>
		<!-- Starts the boot process, only in-browser (no SSR here) -->
		<BootProcess client:only bootDelayMs={2500} />
	</body>
</html>
