.bottle-details-screen {
	min-height: 100vh;
}

.bottle-content {
	background-color: white;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.bottle-message {
	background-color: #FFFBEB;
	border: 1px solid #FDE68A;
}

.send-message {
	background-color: white;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.bottle-message-textarea {
	background-color: #FFFBEB;
	border: 1px solid #FCD34D;
}

.bottle-message-textarea:focus {
	outline: none;
	box-shadow: 0 0 0 2px #FBBF24;
	border-color: #FBBF24;
}

.send-button {
	background-color: #F59E0B;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.send-button:hover {
	background-color: #D97706;
}
