/*-------------------------------------------*\
    Window
\*-------------------------------------------*/

:root {
    --title-bar-bg: black;
}
.window {
    position: absolute;
    font-size: 11px;
    box-shadow: var(--border-window-outer), var(--border-window-inner);
    background: var(--surface);
    padding: 3px;
    min-width: 240px;
    min-height: 160px;
    fieldset {
        margin-bottom: 9px;
    }
}
.title-bar {
    font-size: 11px;
    font-family: var(--sans-serif);
    background: var(--title-bar-bg);
    padding: 3px 2px 3px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar-text {
    font-weight: bold;
    color: white;
    letter-spacing: 0;
    margin-right: 24px;
}


.title-bar-controls {
    display: flex;
    button {
        padding: 0;
        display: block;
        min-width: 16px;
        min-height: 14px;
        &:focus {
            outline: none;
        }
    }
    button[aria-label="Minimize"] {
    }
    button[aria-label="Maximize"] {
    }
    button[aria-label="Help"] {
    }
    button[aria-label="Close"] {
    }
}
.window-body {
    font-size: var(--font-size);
		height: calc(100% - 36px);
    margin: 4px; /*var(--element-spacing);*/
    pre {
        margin: -8px;
    }
}

.window-resize-handle {
    position: absolute;
    z-index: 12;
    touch-action: none;
}

.window-resize-handle--n {
    top: -3px;
    left: 8px;
    right: 8px;
    height: 8px;
    cursor: n-resize;
}

.window-resize-handle--e {
    top: 8px;
    right: -3px;
    bottom: 8px;
    width: 8px;
    cursor: e-resize;
}

.window-resize-handle--s {
    left: 8px;
    right: 8px;
    bottom: -3px;
    height: 8px;
    cursor: s-resize;
}

.window-resize-handle--w {
    top: 8px;
    left: -3px;
    bottom: 8px;
    width: 8px;
    cursor: w-resize;
}

.window-resize-handle--ne {
    top: -3px;
    right: -3px;
    width: 10px;
    height: 10px;
    cursor: ne-resize;
}

.window-resize-handle--se {
    right: -3px;
    bottom: -3px;
    width: 10px;
    height: 10px;
    cursor: se-resize;
}

.window-resize-handle--sw {
    left: -3px;
    bottom: -3px;
    width: 10px;
    height: 10px;
    cursor: sw-resize;
}

.window-resize-handle--nw {
    top: -3px;
    left: -3px;
    width: 10px;
    height: 10px;
    cursor: nw-resize;
}

.status-bar {
    margin: 0px 1px;
    display: flex;
    gap: 1px;
}

.status-bar-field {
    box-shadow: var(--border-status-bar-field);
    flex-grow: 1;
    padding: 2px 3px;
    margin: 0;
}
