[defaults]
inventory = inventory/hosts.generated.yml
host_key_checking = True
stdout_callback = default
interpreter_python = auto_silent
retry_files_enabled = False
forks = 20
nocows = 1
vault_password_file = scripts/vault_pass.sh
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new
