---
import Layout from "../layouts/Layout.astro";
import { App } from "../components/App";

export const prerender = false;

// server state, to be hydrated on the client
const random = Math.round(Math.random() * 100);
---

<Layout title="Welcome to Astro + defuss client:idle">
	<App client:idle clickCount={random}>
		<div slot="fallback">Loading...</div>
	</App>
	<p>
		- Random SSR: {random} -
	</p>
</Layout>
