---
import Layout from "../layouts/Layout.astro";
import { App } from "../components/App";

export const prerender = false;

const random = Math.round(Math.random() * 100);
---

<Layout title="Welcome to Astro.">
	<div class="app">
		<App client:load clickCount={random}>
			<div slot="fallback">Loading...</div>
		</App>
		&nbsp; Random SSR: {random} &nbsp;
	</div>
</Layout>
