---
import Layout from "../layouts/Layout.astro";
import { App } from "../components/App";

export const prerender = false;

const random = Math.round(Math.random() * 100);
---

<Layout title="Welcome to Astro + defuss client:media">
	<App client:media="(max-width: 50em)" clickCount={random}>
		<div slot="fallback">Loading...</div>
	</App>
	<p>
		- Random SSR: {random} -
	</p>
</Layout>
