
@use "variables" as *;

/*-------------------------------------------*\
    Window
\*-------------------------------------------*/

.window {
    box-shadow: inset -1px -1px #00138c, inset 1px 1px #0831d9, inset -2px -2px #001ea0, inset 2px 2px #166aee,
        inset -3px -3px #003bda, inset 3px 3px #0855dd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0 0 3px 0;
    -webkit-font-smoothing: none;
}

.window.inactive {
    box-shadow: inset -1px -1px rgb(110, 121, 195),
            inset 1px 1px rgb(90, 114, 214),
            inset -2px -2px rgb(110, 127, 202),
            inset 2px 2px rgb(105, 155, 233),
            inset -3px -3px rgb(97, 130, 221),
            inset 3px 3px rgb(122, 162, 235);
}

.title-bar {
    font-family: "Trebuchet MS";
    background: linear-gradient(180deg, #2c90ff 4%, #0055e5 12%, #0055ea 40%,  #0364f9 65%, #036afe 90%, #0360fc 55%, #004de4 98%, #0043cf 100%);
    padding: 3px 5px 3px 3px;
    border-top: 1px solid #0831d9;
    border-left: 1px solid #0831d9;
    border-right: 1px solid #001ea0;
    border-top-left-radius: 8px;
    border-top-right-radius: 7px;
    font-size: 13px;
    text-shadow: 1px 1px #0f1089;
    height: 24px;
}

.title-bar.inactive {
    text-shadow: none;
    filter: contrast(0.55) brightness(1.45) saturate(0.8);
}

.title-bar-text {
    padding-left: 3px;
}

.inactive {
    .title-bar-text {
        opacity: 0.8;
    }
}

.title-bar-controls {
    display: flex;
    button {
        min-width: 21px;
        min-height: 21px;
        margin-left: 2px;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: none;
        cursor: inherit;
        background-color: #0050ee;
        transition: background 100ms;
        border: none;
        &:active,
        &:hover,
        &:focus {
            box-shadow: none !important;
        }
    }
    button[aria-label="Minimize"] {
        background-image: url("#{$icon-base-path}minimize.svg");
        &:hover {
            background-image: url("#{$icon-base-path}minimize-hover.svg");
        }
        &:not(:disabled):active {
            background-image: url("#{$icon-base-path}minimize-active.svg");
        }
    }
    button[aria-label="Maximize"] {
        background-image: url("#{$icon-base-path}maximize.svg");
        &:hover {
            background-image: url("#{$icon-base-path}maximize-hover.svg");
        }
        &:not(:disabled):active {
            background-image: url("#{$icon-base-path}maximize-active.svg");
        }
    }
    button[aria-label="Restore"] {
        background-image: url("#{$icon-base-path}restore.svg");
        &:hover {
            background-image: url("#{$icon-base-path}restore-hover.svg");
        }
        &:not(:disabled):active {
            background-image: url("#{$icon-base-path}restore-active.svg");
        }
    }
    button[aria-label="Help"] {
        background-image: url("#{$icon-base-path}help.svg");
        &:hover {
            background-image: url("#{$icon-base-path}help-hover.svg");
        }
        &:not(:disabled):active {
            background-image: url("#{$icon-base-path}help-active.svg");
        }
    }
    button[aria-label="Close"] {
        background-image: url("#{$icon-base-path}close.svg");
        &:hover {
            background-image: url("#{$icon-base-path}close-hover.svg");
        }
        &:not(:disabled):active {
            background-image: url("#{$icon-base-path}close-active.svg");
        }
    }
}

.status-bar {
    margin: 0 3px;
    box-shadow: inset 0px 1px 2px var(--button-shadow);
    padding: 2px 1px;
    gap: 0px;
}

.status-bar-field {
    font-family: var(--sans-serif);
    -webkit-font-smoothing: none;
    box-shadow: none;
    padding: 1px 2px;
    border-right: 1px solid rgba(208, 206, 191, 0.75);
    border-left: 1px solid rgba(255, 255, 255, 0.75);
    &:first-of-type{
        border-left: none;
    }
    &:last-of-type {
        border-right: none;
    }
}
