unsloth
transformers==4.56.2
trl==0.22.2
gitpython
datasets==4.3.0
sentencepiece
protobuf
huggingface_hub>=0.34.0
hf_transfer
bitsandbytes
accelerate
peft
triton
cut_cross_entropy
unsloth_zoo
numpy
safetensors
scikit-learn
tqdm
python-dotenv
