.logo {
  height: 6em;
  width: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 3em var(--color-secondary));
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em var(--color-secondary));
}