name: Build and test on push and pull request

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [24.13.1]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4
      - name: Install Volta
        run: |
          curl https://get.volta.sh | bash
          echo 'export PATH="$HOME/.volta/bin:$PATH"' >> $GITHUB_ENV
          source ~/.volta/bin/volta setup
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      #- name: Setup Rust
      #  uses: dtolnay/rust-toolchain@stable
      #  with:
      #    targets: wasm32-unknown-unknown
      #- name: Setup Emscripten
      #  uses: mymindstorm/setup-emsdk@v14
      - run: bun install --no-frozen-lockfile
      - run: bun run test:core
