name: Build and test on push and pull request

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        node-version: [22.16.0]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown
      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
      - run: pnpm install --no-frozen-lockfile
      - run: pnpm build --filter='!@example/with-editorjs' --filter='!@example/with-astro-ts' --filter='!@example/with-photo-gallery' --filter='!@example/with-desktop-wm' --filter='!@example/wasm-c-rust-matmul' --filter='!@example/with-webrtc-chat' --filter='!@example/with-admin-ui' --filter='!defuss-desktop' --filter='!@example/with-audio-worklet'
      - run: pnpm test --filter='!@example/with-editorjs' --filter='!@example/with-astro-ts' --filter='!@example/with-photo-gallery' --filter='!@example/with-desktop-wm' --filter='!@example/wasm-c-rust-matmul' --filter='!@example/with-webrtc-chat' --filter='!defuss-db' --filter='!@example/with-admin-ui' --filter='!defuss-desktop' --filter='!@example/with-audio-worklet'
