[package]
name = "defuss-search"
version = "0.0.1"
edition = "2021"
publish = false
description = "Hybrid Text & Vector Search"
license = "MIT"
authors = ["Aron Homberg <info@aron-homberg.de>"]
keywords = [
    "search",
    "wasm",
    "multicore",
    "rust",
    "javascript",
    "typescript",
    "webassembly",
    "browser",
    "web-workers"
  ]
repository = "https://github.com/kyr0/defuss"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2.108"
wasm-bindgen-rayon = "1.3"
wasm-bindgen-futures = "0.4.58"
rayon = "1.11.0"
console_error_panic_hook = "0.1.2"
web-sys = { version = "0.3.85", features = [
  'console',
  'Performance'
] }
js-sys = { version = "0.3" }
gloo-timers =  { version = "0.3", features = ["futures"] }

# Search engine dependencies
stop-words = "0.8"
rust-stemmers = "1.2"
lru = "0.16"
ordered-float = "4.2"
regex = "1.10"
base64 = "0.22"

[package.metadata.wasm-pack.profile.dev]
wasm-opt = ["-O4", "--enable-threads", "--enable-bulk-memory", "--enable-simd"]

[package.metadata.wasm-pack.profile.release]
wasm-opt = ["-O4", "--enable-threads", "--enable-bulk-memory", "--enable-simd"]